<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dhlshippingsolutions>
            <version>2.2.0</version>
            <dhlglobalwebservices>
                <shipment_defaults>
                    <terms_of_trade>DDU</terms_of_trade>
                </shipment_defaults>
                <locationfinder_settings>
                    <maptile_api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                    <maptile_url>https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={api_token}</maptile_url>
                    <map_copyright_attribution>www.openstreetmap.org</map_copyright_attribution>
                </locationfinder_settings>
            </dhlglobalwebservices>
        </dhlshippingsolutions>
    </default>
</config>
