<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interface preferences -->
    <preference for="Dhl\ShippingCore\Api\LabelStatusManagementInterface" type="Dhl\ShippingCore\Model\LabelStatus\LabelStatusManagement"/>
    <preference for="Dhl\ShippingCore\Api\PdfCombinatorInterface" type="\Dhl\ShippingCore\Util\PdfCombinator"/>
    <preference for="Dhl\ShippingCore\Api\RateRequestEmulationInterface" type="Dhl\ShippingCore\Model\Emulation\RateRequestService"/>
    <preference for="Dhl\ShippingCore\Api\RecipientStreetInterface" type="Dhl\ShippingCore\Model\RecipientStreet"/>
    <preference for="Dhl\ShippingCore\Api\RecipientStreetRepositoryInterface" type="Dhl\ShippingCore\Model\RecipientStreetRepository"/>
    <preference for="Dhl\ShippingCore\Api\RequestExtractorInterface" type="Dhl\ShippingCore\Model\ShipmentRequest\RequestExtractor"/>
    <preference for="Dhl\ShippingCore\Api\UnitConverterInterface" type="Dhl\ShippingCore\Util\UnitConverter"/>
    <preference for="Dhl\ShippingCore\Api\Data\ShipmentRequest\PackageInterface" type="Dhl\ShippingCore\Model\ShipmentRequest\Package"/>
    <preference for="Dhl\ShippingCore\Api\Data\ShipmentRequest\PackageItemInterface" type="Dhl\ShippingCore\Model\ShipmentRequest\PackageItem"/>
    <preference for="Dhl\ShippingCore\Api\Data\ShipmentRequest\RecipientInterface" type="Dhl\ShippingCore\Model\ShipmentRequest\Recipient"/>
    <preference for="Dhl\ShippingCore\Api\Data\ShipmentRequest\ShipperInterface" type="Dhl\ShippingCore\Model\ShipmentRequest\Shipper"/>

    <preference for="Dhl\ShippingCore\Api\Rest\CheckoutDataManagementInterface" type="Dhl\ShippingCore\Model\Rest\CheckoutDataManagement"/>
    <preference for="Dhl\ShippingCore\Api\Rest\GuestCheckoutDataManagementInterface" type="Dhl\ShippingCore\Model\Rest\GuestCheckoutDataManagement"/>
    <preference for="Dhl\ShippingCore\Api\Data\Checkout\CarrierDataInterface" type="Dhl\ShippingCore\Model\Checkout\CarrierData"/>
    <preference for="Dhl\ShippingCore\Api\Data\Checkout\CheckoutDataInterface" type="Dhl\ShippingCore\Model\Checkout\CheckoutData"/>
    <preference for="Dhl\ShippingCore\Api\Data\Checkout\ServiceMetadataInterface" type="Dhl\ShippingCore\Model\Checkout\ServiceMetadata"/>
    <preference for="Dhl\ShippingCore\Api\Data\Checkout\FootnoteInterface" type="Dhl\ShippingCore\Model\Checkout\Footnote"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\CompatibilityInterface" type="Dhl\ShippingCore\Model\Service\Compatibility"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\InfoTextInterface" type="Dhl\ShippingCore\Model\Service\InfoText"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\InputInterface" type="Dhl\ShippingCore\Model\Service\Input"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\ServiceInterface" type="Dhl\ShippingCore\Model\Service\Service"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\OptionInterface" type="Dhl\ShippingCore\Model\Service\Option"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\CommentInterface" type="Dhl\ShippingCore\Model\Service\Comment"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\ValidationRuleInterface" type="Dhl\ShippingCore\Model\Service\ValidationRule"/>
    <preference for="Dhl\ShippingCore\Api\Data\Selection\ServiceSelectionInterface" type="Dhl\ShippingCore\Model\Service\ServiceSelection"/>

    <preference for="Dhl\ShippingCore\Model\Config\CoreConfigInterface" type="Dhl\ShippingCore\Model\Config\CoreConfig"/>
    <preference for="Dhl\ShippingCore\Model\Config\RateConfigInterface" type="Dhl\ShippingCore\Model\Config\RateConfig"/>

    <!-- # virtual types -->
    <virtualType name="Dhl\ShippingCore\Virtual\SalesTableNameIterator" type="Magento\Framework\ForeignKey\Migration\TableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="dhlgw_label_status" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::TABLE_DHLGW_LABEL_STATUS</item>
                <item name="dhlgw_recipient_street" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::TABLE_DHLGW_RECIPIENT_STREET</item>
                <item name="dhlgw_order_address_service_selection" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::TABLE_ORDER_SERVICE_SELECTION</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Dhl\ShippingCore\Virtual\QuoteTableNameIterator" type="Magento\Framework\ForeignKey\Migration\TableNameArrayIterator">
        <arguments>
            <argument name="tableNames" xsi:type="array">
                <item name="dhlgw_quote_address_service_selection" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::TABLE_QUOTE_SERVICE_SELECTION</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid">
        <arguments>
            <argument name="joins" xsi:type="array">
                <item name="dhlgw_label_status" xsi:type="array">
                    <item name="table" xsi:type="const">
                        Dhl\ShippingCore\Setup\Module\Constants::TABLE_DHLGW_LABEL_STATUS
                    </item>
                    <item name="origin_column" xsi:type="string">entity_id</item>
                    <item name="target_column" xsi:type="string">order_id</item>
                </item>
            </argument>
            <argument name="columns" xsi:type="array">
                <item name="dhlgw_label_status" xsi:type="string">dhlgw_label_status.status_code</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\Sales\Model\ResourceModel\Provider\NotSyncedOrderDataProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="dhlgw_label_status" xsi:type="string">Dhl\ShippingCore\Model\ResourceModel\Provider\UpdatedStatusIdListProvider</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- # argument di overrides -->
    <type name="Dhl\ShippingCore\Model\LabelStatus\LabelStatusManagement">
        <arguments>
            <argument name="orderGrid" xsi:type="object">Magento\Sales\Model\ResourceModel\Order\Grid</argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\ResourceModel\LabelStatus">
        <arguments>
            <argument name="connectionName" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Dhl\ShippingCore\Model\ResourceModel\RecipientStreet">
        <arguments>
            <argument name="connectionName" xsi:type="const">Dhl\ShippingCore\Setup\Module\Constants::SALES_CONNECTION_NAME</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order\AddressRepository">
        <plugin name="Dhl_ShippingCore_Address_Extension" type="Dhl\ShippingCore\Plugin\Order\Address\AddressRepositoryPlugin" sortOrder="1"/>
    </type>
    <type name="Magento\ScalableCheckout\Console\Command\SplitQuote">
        <arguments>
            <argument name="tableIterators" xsi:type="array">
                <item name="dhlQuoteTableNameIterator" xsi:type="object">Dhl\ShippingCore\Virtual\QuoteTableNameIterator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ScalableOms\Console\Command\SplitSales">
        <arguments>
            <argument name="tableIterators" xsi:type="array">
                <item name="dhlSalesTableNameIterator" xsi:type="object">Dhl\ShippingCore\Virtual\SalesTableNameIterator</item>
            </argument>
        </arguments>
    </type>

    <type name="Dhl\ShippingCore\Command\MigrateAttributes">
        <arguments>
            <argument name="migrate" xsi:type="object">Dhl\ShippingCore\Model\Attribute\Migrate\Proxy</argument>
            <argument name="appState" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>

    <!-- # interceptor plugins -->
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="Dhl_ShippingCore_AdditionalMethodData" type="Dhl\ShippingCore\Plugin\Quote\Cart\ShippingMethodConverterPlugin"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Address\Rate">
        <plugin name="Dhl_ShippingCore_AdditionalMethodData" type="Dhl\ShippingCore\Plugin\Quote\Cart\ShippingMethodConverterPlugin"/>
    </type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="migrate-attributes" xsi:type="object">Dhl\ShippingCore\Command\MigrateAttributes</item>
            </argument>
        </arguments>
    </type>
</config>
