<?xml version="1.0"?>
<!--
See LICENSE.md for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="set_label_status" instance="Dhl\ShippingCore\Observer\SetInitialLabelStatus" />
    </event>
    <event name="payment_method_is_active">
        <observer name="disable_cod" instance="Dhl\ShippingCore\Observer\DisableCodPaymentMethods" />
    </event>
    <event name="sales_order_address_save_after">
        <observer name="split_address" instance="Dhl\ShippingCore\Observer\SplitAddress"/>
    </event>
</config>
