<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- # interceptor plugins -->
    <type name="Magento\Sales\Model\Order\ShippingBuilder">
        <plugin name="exportShippingOptions" type="Dhl\ShippingCore\Plugin\Order\ShippingBuilderPlugin"/>
    </type>
</config>
