#config-edit-form {
  .section-config {
    /* Additional Infobox styling */
    .nr-custom-infobox.dhlgw {
      border: 1px solid #fc0;
      background: #fefcee;

      header {
        background: #ffcc01;
      }
    }
  }
}

.nrshipping-packaging-popup {
  .package-action-buttons {
    img[src*="logo-dpdhl.svg"] {
      background-color: #fc0;
      padding: @indent__s;
    }
  }
}

.adminhtml-system_config-edit {
    .dhl-validation-popup {
        .modal-inner-wrap {
            height: 90%;
            .modal-content {
                height: 100%;
                iframe {
                    height: 100%;
                }
            }
        }
    }
}
