#shipping_dhlglobalwebservices_package_dimension {
    th, td {
        font-size: 1.2rem;
        padding: 1.3rem 0;
        vertical-align: middle;
        position: relative;

        &:first-child {
            padding: 1.3rem 0 1.3rem 1.3rem;
        }
    }

    th {
        span {
            position: absolute;
            bottom: .3rem;
            left: 0;
            font-size: 1rem;
            font-weight: 400;
        }
    }
}
