<?xml version="1.0" ?>
<!--
/**
 * See LICENSE.md for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dhlshippingsolutions" type="text" sortOrder="500" showInDefault="1" showInStore="1" showInWebsite="1" translate="label">
            <label>DHL Shipping Solutions</label>
            <tab>sales</tab>
            <resource>Magento_Shipping::config_shipping</resource>

            <group id="dhlglobalwebservices" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100" translate="label">
                <label>General Configuration</label>

                <field id="shippingCoreInfoBox" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Netresearch\ConfigFields\Block\InfoBox</frontend_model>
                    <attribute type="body_template">Dhl_ShippingCore::system/config/infoBoxBody.phtml</attribute>
                    <attribute type="header_template">Dhl_ShippingCore::system/config/infoBoxHeader.phtml</attribute>
                    <attribute type="view_model">Dhl\ShippingCore\ViewModel\Adminhtml\System\InfoBox</attribute>
                    <attribute type="logo">Dhl_Ui::images/logo-dhl-wide.svg</attribute>
                    <attribute type="css_class">dhlgw</attribute>
                </field>

                <include path="Dhl_ShippingCore::system/100_general_settings.xml"/>
                <include path="Dhl_ShippingCore::system/600_shipment_defaults.xml"/>
                <include path="Dhl_ShippingCore::system/700_bulk_settings.xml"/>
                <include path="Dhl_ShippingCore::system/800_locationfinder_settings.xml"/>
            </group>
        </section>
    </system>
</config>
