<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="shipping" showInDefault="1" showInStore="1" showInWebsite="1" translate="label">
            <group id="dhlglobalwebservices" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="200" translate="label">
                <label>DHL Global Webservices configuration</label>
                <!-- Cash On Delivery Payment Methods for DHL Express -->
                <field id="shipment_dhlcodmethods" translate="label tooltip" type="multiselect" sortOrder="210" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Cash On Delivery Payment Methods for DHL Express</label>
                    <comment>Selected payment methods will be treated as CoD methods during shipment order creation.</comment>
                    <source_model>Dhl\ShippingCore\Model\Payment\Config\Source\Allmethods</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
