<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.2/phpunit.xsd">
    <testsuites>
        <testsuite name="DHL Global Webservice Unit Tests">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">../../</directory>
            <exclude>
                <directory>../../build/</directory>
                <directory>../../Setup/</directory>
                <directory>../../Test/</directory>
                <file>../../registration.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
